.App {
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

#contador {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button {
  display: inline;
  width: 25px;
  height: 30px;
}

.App > button:first-child {
  width: 100px;
  height: 50px;
}

